.cover-section {
    background: url("https://wownepal.com.np/wp-content/uploads/2022/12/Thumbnail.jpg")
      bottom/cover no-repeat;
    color: #ffffff;
    margin: 15px;
    border-radius: 8px;
    border: 2px solid rgb(113, 195, 240);
  }

  .overlay {
    padding: 150px;
    transition: 0.3s ease-in-out;
    background-color: rgba(69, 61, 107, 0.3);
  }

  .overlay:hover {
    border-radius: 8px;
    padding: 155px;
    background-color: rgba(69, 61, 107, 0.5);
  }

  .heading,
  details {
    margin-bottom: 10px;
  }

  .heading {
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    font-weight: bold;
  }

  .details {
    font-size: 18px;
    color: azure;
    font-weight: bold;
  }

  .ticket-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    color: #f3fcff;
    border: 2px solid rgb(113, 195, 240);
    margin: 20px;
    border-radius: 8px;
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 97, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
  }

  .ticket-section {
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .ticket-option {
    width: 100%;
    margin: 0 5px;
    padding: 30px;
    text-align: center;
    border: 2px solid rgb(113, 195, 240);
    border-radius: 8px;
  }

  .ticket-premium {
    /* background: url("https://d3vhc53cl8e8km.cloudfront.net/hello-staging/wp-content/uploads/sites/67/2022/03/11144643/2_BEYONDSC2021_0827_170315_JAN-2_720h.jpg"); */
    background: url("https://images.squarespace-cdn.com/content/v1/57d79c7e725e250ead246879/1693345330926-NREA2D4WXHQLSHZVYQ2P/Front+Row+at+Bloodstock+Open+Air+2023+%C2%A9Johann+Wierzbicki-50.jpg?format=1500w")
      center;
  }

  .ticket-normal {
    background: url("https://cdn.sanity.io/images/pge26oqu/production/629fdd78addb832ecb379049b6a640ee35de4bb6-2048x1365.jpg?w=828&h=552");
  }

  .ticket-bg {
    padding: 15px;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
  }

  .tbg-premium,
  .tbg-normal {
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 0.6) 0%,
      rgba(9, 97, 121, 0.6) 35%,
      rgba(0, 212, 255, 0.6) 100%
    );
  }

  .ticket-bg:hover {
    /* background-color: rgba(26, 70, 52, 0.771); */
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 0.8) 0%,
      rgba(9, 97, 121, 0.8) 35%,
      rgba(0, 212, 255, 0.8) 100%
    );
    padding: 18px;
  }

  .ticket-option h2,
  .ticket-heading h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: azure;
  }

  .ticket-option button {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
  }

  .ticket-option p {
    font-size: 20px;
    color: azure;
  }
  .ticket-option button:hover {
    background-color: rgb(48, 240, 160);
    color: #021420;
  }

  /* Leaflet Map */
  #map {
    height: 250px;
    margin: 15px;
    border-radius: 8px;
    border: 2px solid rgb(113, 195, 240);
  }